{% extends '::back-office.html.twig' %}

    {% block header %}
    {% endblock %}
    {% block h1 %}
        Evénement
    {% endblock %}
    {% block content %}
        <a  class="btn btn-primary" role="button" href="{{ path('web_event_backofficebundle_event_new') }}"> Créer un Event</a>

</br>
        <div class="box">
        {% if events %}
            <table class="table table-striped table-bordered">
                <thead>
                <th>ID</th>
                <th>Nom</th>
                <th>Description</th>
                </thead>
                <tbody>
                {% for entity in events %}
                    <tr>
                        <td> {{ entity.idEvent }}</td>

                        <td>{{ entity.name }}</td>

                        <td>{{ entity.shortDescription }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-info add-first-contact" role="alert">
                Aucun événement n'est renseigné
                <a href="{{ path('web_event_backofficebundle_event_new') }}" class="alert-link button-add-contact">Clic ici pour en ajouter un !</a>
            </div>
        {% endif %}
</div>
    {% endblock %}






{% block footer %}
{% endblock %}